# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Env files
.env

# Build files (if serving frontend separately)
frontend/build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
